@font-face{
	font-family: 'Poppins';
	src: url('../../resource/fonts/poppins/Poppins-Regular.ttf');
}
@font-face{
	font-family: 'Berkshire';
	src: url('../../resource/fonts/farmnames/BerkshireSwash-Regular.ttf');
}
@font-face{
	font-family: 'Galada';
	src: url('../../resource/fonts/farmnames/Galada-Regular.ttf');
}
@font-face{
	font-family: 'Lobster';
	src: url('../../resource/fonts/farmnames/Lobster-Regular.ttf');
}
@font-face{
	font-family: 'Oleo';
	src: url('../../resource/fonts/farmnames/OleoScriptSwashCaps-Regular.ttf');
}
@font-face{
	font-family: 'Veracruz';
	src: url('../../resource/fonts/farmnames/Veracruz-Bold.ttf');
}

body.bered .map {
    position: relative;
/*     width: 100%; */
    height: 100%;
	background: #1c1c1c;
	border: 2px solid #1c1c1c;
}
#bered-sign *{
	box-sizing: border-box;	
}

#bered-sign h1,
#bered-sign h3{
	color: white;
}
#bered-sign h1{
	margin: 35px 0;
	font-size: 3rem;
	line-height: 2rem;
}
#bered-sign h3{
	margin: 25px 0;
	font-size: 1.3rem;
	line-height: 1.3rem;
}

.bered .row,
#bered-sign .row{
	font-size: 0px;
	text-align: center;
}
.bered .column,
#bered-sign .column{
	display: inline-block;
	width: 100%;
	font-size: initial;
	vertical-align: top;
}
.bered .column-2,
#bered-sign .column{
	max-width: 50%;
}
#bered-sign .column-3,
.bered .column-3{
	max-width: 33%;
}

#bered-widget{
    position: relative;
    z-index: 99;
}
.modal-content #bered-widget{
/* 	border: 3px so */
}
.selected-0 #bered-widget{
	display: none !important;
}

body.bered .woocommerce-product-gallery{
    width: 58% !important;
}
body.bered .entry-summary{
    width: 38% !important;
}

body.bered .disabled{
	pointer-events: none;
	opacity: .5;
}

#bered-widget *{
/*     border: 3px solid pink; */
/*     padding: 10px; */
/*     min-height: 500px; */
}

#bered-dev-gui{
    position: absolute;
    top: -50px;
    left: -0px;
    width: 800px;
    height: 50px;
    border: 20px solid green;
    background: rgba(0, 255, 255, .3);
}

body.bered .button{
    font-size: 1rem;
    display: inline-block;
    background: white;
    border: 4px solid #e0dede;
    padding: 5px;
    color: black;
    user-select: none;
	margin-right: 10px;
	border-radius: 3px;
	font-family: Poppins;
	box-shadow: 0px 0px 3px black;
	background: lightgrey;
}
body.bered .button:active{
	background: grey;
}
.bered-instructions .button:hover{
    background: #e6e5e5;
}

#bered-nav{
	position: fixed;
	z-index: 99;
	top: -20px;
	right: 50px;
	background: #34343b;
	border: 3px solid #747486;
	box-shadow: 2px 2px 10px;
	display: inline-block;
	width: 154px;
	height: 76px;
	border-radius: 5px;
}
.button-wrapper{
	background: #34343b;
	border: 3px solid #767687;
	box-shadow: 2px 2px 10px;	
	border-radius: 5px;
	display: inline-block;
}
.bered-instructions{
/* 	max-width: 900px; */
/* 	display: inline-block; */
/* 	width: 100%; */
}
.bered-instructions .nav.button{
	position: absolute;
	background: transparent;
	padding: 0;
	height: 32px;
	border: 0px solid;
	box-shadow: 0px 0px;
}
.bered-instructions .nav img{
	max-width: 60px;
}
.bered-instructions .nav.forward{
	right: -2px;
}
.bered-instructions .nav.back{
	right: 71px;
}

#bered-dev-gui .section,
#bered-dev-gui .button{
    margin: 0 5px
}

#bered-dev-gui .section{
    padding: 0 15px;
}


.bered-instructions .section{
	display: none;
	border: 3px solid lightgrey;
	position: relative;
	padding: 5px;
	background: white;
}
.bered-instructions .section.selected{
	display: inline-block;
	width: 100%;
	padding: 0px 15px 10px 15px;
}
.bered-instructions .section.selected>div{
	margin-top: 50px;
}
.bered-instructions .button.rotate{
	margin: 5px;
	background: 0px;
	border: 0px;
	box-shadow: 0px 0px;
	padding: 0;
}
.bered-instructions .button.rotate img{
	max-width: 70px;
}

.woocommerce-product-details__short-description .section{
    padding: 10px;
/*     font-weight: bold; */
}

/*make your map*/
body.bered .woocommerce-product-details__short-description .button{
	margin:  20px 0;
/* 	border: 5px solid #3ca04d; */
/* 	color: #0a8423; */
	text-transform: uppercase;
	font-family: Poppins;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: .8rem;

	background: #34343b;
	border: 3px solid #51515f;
	box-shadow: 2px 2px 10px black;	
	border-radius: 5px;
	display: inline-block;
	color: white;
}

.woocommerce-product-details__short-description .section:hover{
    background: rgba(0, 0, 0, .1);
}


.bered-instructions .icon{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 10px;
	cursor: pointer;
	user-select: none;
	vertical-align: top;
}
.bered-instructions .icon:hover{
	transform: scale(1.1)
}
.bered-instructions .icon:active{
	transform: scale(.95)
}
.bered-instructions .icon.circle{
	border-radius: 50px;
}

.canvas-container{
	position: absolute !important;
	z-index: 9999;
	top: 0;
	left: 0;
	height: 100% !important;
/* 	border: 10px solid pink; */
	width: 100% !important;

/* 	controlled by js */
	pointer-events: none;
}

.icon-wrap>div{
	margin-bottom: 50px;
}

.bered-map .button.selected{
	background: orange;
}

#bered-form{
	margin-bottom: 60px;
}

#bered-form input,
#bered-form textarea{
	width: 100%;
}


.modal-content .input-wrapper{
	margin: 2px 0;
}
.modal-content .input-wrapper input[type=number]{
	max-width: 350px;
}
.modal-content .input-wrapper select{
	padding: 5px;
}

/* submit */
.input-wrapper:last-of-type{
/* 	text-align: center; */
}

.modal-content h3{
	margin: 10px 0;
}
.modal-content .left-panel{
	height: calc(65vw - 10px);
	padding: 0px !important;
	max-width: calc(65vw - 70px);
/* 	border: 2px solid red; */
}
.modal-content .right-panel{
	max-width: calc(35vw - 70px);
	padding-top: 0px !important;
}

.modal.bered-map form{
	font-size: .8rem;
}


.modal-content.selected-0{
	background: #85e79a;
}
.modal-content.selected-1{
	background: #e2c8ca;
}
.modal-content.selected-2{
	background: #e2c8ca;
}
.modal-content.selected-3{
	background: #e1dfad;
}
.modal-content.selected-4{
	background: #e1dfad;
}
.modal-content.selected-5{
	background: #79e177;
}

.modal-content.selected-0 .right-panel{
	max-width: 100%;
	text-align: center;
}
.modal-content.selected-0 .left-panel{
	max-width: 0px;
}
.modal-content.selected-0 .nav.button:nth-of-type(1),
.modal-content.selected-5 .nav.button:nth-of-type(2){
	opacity: .2;
	pointer-events: none;
}


.flex-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
}

.bered-map .ol-zoom-in, 
.bered-map .ol-zoom-out{
	width: 50px;
	height: 51px;
	opacity: 0;
}

.bered-zoom{
	position: absolute;
	left: 10px;
	z-index: 999;
	pointer-events: none;
	display: none;
}
.selected-1 .bered-zoom,
.selected-3 .bered-zoom{
	display: inline-block;
}
.bered-zoom img{
	max-width: 50px !important;
}
.bered-zoom.zoomin{
	top: 12px;
}
.bered-zoom.zoomout{
	top: 64px;
}
.ol-zoom.ol-control{
	background: transparent;
}
.selected-1 .ol-zoom.ol-control,
.selected-3 .ol-zoom.ol-control{
	background: #34343b;
	border: 3px solid #69697a;
	box-shadow: 2px 2px 10px;	
	border-radius: 5px;
	padding: 0 !important;
	box-sizing: border-box !important;
	width: 55px;
}



.bered-spinner{
    position: fixed;
    z-index: 999999998;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: none;
    justify-content: center;
    align-items: center;

    transition: .3s;
    background: rgba(0, 0, 0, .6);
	font-size: initial;

}

.bered-spinner>img{
	opacity: 1 !important;
	font-size: initial;
    width: 120px;
    max-width: 90% !important;
}

















/**********************
 SIGN
**********************/
.modal.preview-order .modal-content{
	max-height: 90vh;
	height: 90vh;
	border: 2px solid;
	top: 5vh;
	margin-top: auto;
	overflow: auto;
	background: #4f3503;
	text-align: center;
}
.modal.preview-order .modal-close{
	top: 5vh;
}

#bered-sign,
#bered-sign *{
	box-sizing: border-box;
}

#bered-sign{
	width: 1770px;
	max-width: 1770px;
	height: 1180px;
/* 	border: 3px solid blue; */
	background: white;
	padding: 30px;
	text-align: left;
	display: inline-block;
	font-family: Poppins;
}

/***********************
	header 
*/
.bered-preview-header{
	background: linear-gradient(#039236, #00641f);
	padding: 10px 0;
	text-align: center;
	color: white;
	margin: 0;
}

/*********************** 
	subheader 
*/
.bered-preview-subheader{
	padding: 5px;
	background: #cbc8c8;
/* 	border: 1px solid green; */
}
.bered-preview-subheader>div{
	display: inline-block;
	width: 100%;
/* 	border: 1px solid red; */
}
/* gards */
.bered-preview-subheader>div:nth-of-type(1){
	max-width: 500px;
}
/* ansvarlig */
.bered-preview-subheader>div:nth-of-type(2){
	max-width: 800px;
}
/* telefon */
.bered-preview-subheader>div:nth-of-type(3){
	max-width: 400px;
}

.bered-preview-subheader>div:nth-of-type(1) label{
	max-width: 220px;
}
.bered-preview-subheader label,
.bered-preview-subheader input{
	display: inline-block;
	width: 100%;
	margin: 0 !important;
	height: 30px;
	vertical-align: top;
	padding: 3px 10px 0 10px;
}
.bered-preview-subheader>div:nth-of-type(1) input{
	max-width: calc(100% - 230px);
}
.bered-preview-subheader input{
	max-width: calc(100% - 140px);
}
.bered-preview-subheader label{
	background: black;
	color: white;
/* 	max-width: 35%; */
	max-width: 120px;
}







/***************************
	maps
*/
.bered-preview-map{
	display: inline-block;
	width: 675px !important;
	height: 675px;
	vertical-align: top;
	background: blue;
	position: relative;
	pointer-events: none;
}
.bered-preview-map img{
	width: 100%;
}
/* .bered-preview-map canvas{
	width: 100%;
	height: 100%;
	border: 3px solid red;
} */
/* .bered-preview-map .canvas-container{
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	border: 3px solid #4e4d4d;
} */

#bered-preview-map-left{
/* 	border: 5px solid purple; */
}
#bered-preview-map-right{
/* 	border: 5px solid orange; */
}
/* .bered-preview-map .ol-zoom{
	display: none;
} */



/***************************
	map icons
*/
.bered-preview-icons{
	display: inline-block;
/* 	border: 2px solid blue; */
	width: 360px;
	height: 500px;
	display: inline-block;
	padding: 5px;
}
.bered-icon-wrap img.bered-marker{
	max-width: 30px;
	display: inline-block;
}
.bered-icon-wrap label{
	display: inline-block;
	max-width: 270px;
	vertical-align: top;
	padding: 0 10px;
}
.bered-icon-wrap{
	line-height: 1.3rem;
}
.right-panel .bered-icon-wrap{
/* 	padding: 0 10px; */
	cursor: pointer;
}
.right-panel .bered-icon-wrap label{
	vertical-align: 45%;
/* 	display: inline-block; */
}
.right-panel  .bered-icon-wrap:hover img{
	transform: scale(1.2);
}


/***************************
	map footer
*/
.bered-preview-footer{
	display: inline-block;
	width: 100%;
	max-width: calc(50% - 2px);
	vertical-align: top;
	padding: 10px 0;
}
.bered-preview-footer.footer-left{
	margin-right: 4px;
}

.bered-footer-top{
	background: #d40808;
	color: white;
	font-size: 1.4rem;
	font-weight: bold;
	padding: 10px 20px;
}
.bered-footer-data{
/* 	border: 2px solid blue; */
	line-height: 24px;
}
.bered-footer-data *{
	display: inline-block;
	font-size: 1rem;
}
.bered-footer-data.footer-column-2 label{
	max-width: 43%;
	text-align: right;
	padding-right: 10px;
}
.bered-footer-data.footer-column-2 div{
	border-bottom: 1px solid grey;
	width: 55%;
}
.bered-footer-data.footer-standard *{
	display: inline-block;
	max-width: 50%;
}
.bered-footer-data.footer-standard label{
/* 	max-width: 20%; */
	text-align: right;
	padding-right: 10px;
}
/**********************
 END SIGN
**********************/






#alert-contain-3p{
    position:fixed;
    z-index: 999999999;
    bottom: 100px;
    right: 30px;
    text-align: right;
    width: 70%;
    pointer-events: none;
    padding-top: 10px;
}
.alert-wrap-3p{
    transition: .5s;
}
.alert-msg-3p{
    position: relative;
    background: rgba(0, 0, 0, .9);
    color: lightgrey;
    font-size: 16px;
    display: inline-block;
    margin: 1px 0;
    padding: 3px 50px 3px 20px;
    pointer-events: initial;
}
.alert-msg-3p pre{
    max-height: 80vh;
    overflow-y: auto;
}
.alert-msg-3p span{
    color: orange
}
.alert-icon-3p,
.alert-close-3p{
    height: 100%;
    width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-icon-3p{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 12px;
}




.alert-close-3p{
    position: absolute;
    right: 0px;
    top: 0px;
    pointer-events: initial;
    cursor: pointer;
    border-left: 1px solid grey;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.alert-close-3p:hover{
    background: rgba(250, 50, 55, .4);
}
.alert-icon-3p{
    background: lightgrey;
}
.alert-icon-3p.type-success{
    background: rgba(100, 245, 100, .7);
}
.alert-icon-3p.type-error,
.alert-icon-3p.type-warning{
    background: red;
}
.hal .alert-icon-3p{
    background: rgb(255 235 0)
}
.combat .alert-icon-3p{
    background: #ff8304;
}
.alert-icon-3p.type-system{
    background: #673AB7;
}


.variation-BeredOrderData{
	opacity: .3;
	max-width: 250px;
	max-height: 80px;
	overflow: auto;
}

#font-selection{
	margin: 10px 0
}

#font-display{
	font-size: 3rem;
}

.ol-attribution{
	opacity: .5;
}
.ol-attribution:hover{
	opacity: 1;
}

.modal.bered-map{
	font-family: Poppins, Helvetica;
}