/*asdf*/
body.bered .map {
    position: relative;
/*     width: 100%; */
    height: 100%;
	background: #0d0d64;
}


.bered .row{
	font-size: 0px;
	text-align: center;
}
.bered .column{
	display: inline-block;
	width: 100%;
	font-size: initial;
	vertical-align: top;
}
.bered .column-2{
	max-width: 50%;
}
.bered .column-3{
	max-width: 33%;
}

#bered-widget{
    position: relative;
    z-index: 99;
}
.modal-content #bered-widget{
/* 	border: 3px so */
}

body.bered .woocommerce-product-gallery{
    width: 58% !important;
}
body.bered .entry-summary{
    width: 38% !important;
}

body.bered .disabled{
	pointer-events: none;
	opacity: .5;
}

#bered-widget *{
/*     border: 3px solid pink; */
/*     padding: 10px; */
/*     min-height: 500px; */
}


#bered-dev-gui{
    position: absolute;
    top: -50px;
    left: -0px;
    width: 800px;
    height: 50px;
    border: 20px solid green;
    background: rgba(0, 255, 255, .3);
}

body.bered .button{
    font-size: 1rem;
    display: inline-block;
    background: white;
    border: 4px solid #e0dede;
    padding: 5px;
    color: black;
    user-select: none;
	margin-right: 10px;
	border-radius: 3px;
	font-family: monospace;
	box-shadow: 0px 0px 3px black;
	background: lightgrey;
}
body.bered .button:active{
	background: grey;
}
.bered-instructions .button:hover{
    background: #e6e5e5;
}

#bered-nav{
	position: fixed;
	z-index: 99;
	bottom: 10px;
	right: 20px;
	background: #010169;
	display: inline-block;
	width: 135px;
	height: 52px;
	border-radius: 5px;
}
.bered-instructions .nav{
	position: absolute;
}
.bered-instructions .nav.forward{
	right: -2px;
}
.bered-instructions .nav.back{
	right: 61px;
}

#bered-dev-gui .section,
#bered-dev-gui .button{
    margin: 0 5px
}

#bered-dev-gui .section{
    padding: 0 15px;
}



.bered-instructions .section{
	display: none;
	border: 3px solid lightgrey;
	position: relative;
	padding: 5px;
	background: white;
}
.bered-instructions .section.selected{
	display: inline-block;
	width: 100%;
}
.bered-instructions .button.rotate{
	margin: 5px;
}

.woocommerce-product-details__short-description .section{
    padding: 10px;
/*     font-weight: bold; */
}

/*make your map*/
body.bered .woocommerce-product-details__short-description .button{
	margin:  20px 0;
	border: 5px solid #3ca04d;
	color: #0a8423;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: .8rem;
}

.woocommerce-product-details__short-description .section:hover{
    background: rgba(0, 0, 0, .1);
}


.bered-instructions .icon{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 10px;
	cursor: pointer;
	user-select: none;
	vertical-align: top;
}
.bered-instructions .icon:hover{
	transform: scale(1.1)
}
.bered-instructions .icon:active{
	transform: scale(.95)
}
.bered-instructions .icon.circle{
	border-radius: 50px;
}

.canvas-container{
	position: absolute !important;
	z-index: 9999;
	top: 0;
	left: 0;
	height: 100% !important;
/* 	border: 10px solid pink; */
	width: 100% !important;

/* 	controlled by js */
	pointer-events: none;
}

.icon-wrap>div{
	margin-bottom: 50px;
}

.bered-map .button.selected{
	background: orange;
}

#bered-form{
	margin-bottom: 60px;
}

#bered-form input,
#bered-form textarea{
	width: 100%;
}


.modal-content .input-wrapper{
	margin: 2px 0;
}

/* submit */
.input-wrapper:last-of-type{
/* 	text-align: center; */
}

.modal-content h3{
	margin: 10px 0;
}

.modal.bered-map form{
	font-size: .8rem;
}


.modal-content.selected-0{
	background: #85e79a;
}
.modal-content.selected-1{
	background: #e2c8ca;
}
.modal-content.selected-2{
	background: #e2c8ca;
}
.modal-content.selected-3{
	background: #e1dfad;
}
.modal-content.selected-4{
	background: #e1dfad;
}
.modal-content.selected-5{
	background: #79e177;
}

/* .bered-instructions .selected-0,
.selected-0{
	border: 3px solid green;
}
.bered-instructions .selected-1,
.selected-1{
	border: 3px solid blue;
}
.bered-instructions .selected-2,
.selected-2{
	border: 3px solid blue;
}
.bered-instructions .selected-3,
.selected-3{
	border: 3px solid orange;
}
.bered-instructions .selected-4,
.selected-4{
	border: 3px solid orange;
}
.bered-instructions .selected-5,
.selected-5{
	border: 3px solid lightgreen;
} */




/**********************
 SIGN
**********************/
.modal.preview-order .modal-content{
	max-height: 90vh;
	height: 90vh;
	border: 2px solid;
	top: 5vh;
	margin-top: auto;
	overflow: auto;
	background: #4f3503;
}
.modal.preview-order .modal-close{
	top: 5vh;
}

#bered-sign{
	width: 1770px;
	height: 1180px;
/* 	border: 3px solid blue; */
	background: white;
	padding: 30px;
}

/***********************
	header 
*/
.bered-preview-header{
	background: green;
	padding: 10px 0;
	text-align: center;
	color: white;
	margin: 0;
}

/*********************** 
	subheader 
*/
.bered-preview-subheader{
	padding: 5px;
	background: grey;
/* 	border: 1px solid green; */
}
.bered-preview-subheader>div{
	display: inline-block;
	width: 100%;
/* 	border: 1px solid red; */
}
/* gards */
.bered-preview-subheader>div:nth-of-type(1){
	max-width: 23%;
}
/* ansvarlig */
.bered-preview-subheader>div:nth-of-type(2){
	max-width: 53%;
}
/* telefon */
.bered-preview-subheader>div:nth-of-type(3){
	max-width: 23%;
}
.bered-preview-subheader label,
.bered-preview-subheader input{
	display: inline-block;
	width: 100%;
	margin: 0 !important;
	height: 30px;
	vertical-align: top;
	padding: 3px 10px 0 10px;
}
.bered-preview-subheader input{
	max-width: 62%;
}
.bered-preview-subheader label{
	background: black;
	color: white;
	max-width: 35%;
}



/***************************
	maps
*/
.bered-preview-map{
	display: inline-block;
	width: 705px !important;
	max-width: 10000px !important;
	min-height: 705px;
	vertical-align: top;
	background: blue;
	position: relative;
	pointer-events: none;
}
.bered-preview-map .canvas-container{
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	width: 704px !important;
	height: 704px !important;
	border: 3px solid #4e4d4d;
}
#bered-preview-map-left{
/* 	border: 5px solid purple; */
}
#bered-preview-map-right{
/* 	border: 5px solid orange; */
}

/***************************
	map icons
*/
.bered-preview-icons{
	display: inline-block;
/* 	border: 2px solid blue; */
	width: 300px;
	height: 500px;
	display: inline-block;
	padding: 5px;
}
.bered-icon-wrap img.bered-marker{
	max-width: 30px;
	display: inline-block;
}
.bered-icon-wrap{
/* 	padding: 0 10px; */
}
.bered-icon-wrap label{
	display: inline-block;
	max-width: 200px;
	vertical-align: top;
	padding: 0 10px;
}



/***************************
	map footer
*/
.bered-preview-footer{
/* 	border: 3px solid orange; */
	display: inline-block;
	width: 100%;
	max-width: 50%;
	vertical-align: top;
	padding: 10px;
}
.bered-footer-top{
	background: #d40808;
	color: white;
	font-size: 1.4rem;
	font-weight: bold;
	padding: 0 20px;
}
.bered-footer-data{
/* 	border: 2px solid blue; */
}
.bered-footer-data *{
	display: inline-block;
}
.bered-footer-data.footer-column-2 label{
	max-width: 35%;
}
.bered-footer-data.footer-column-2 div{
	border-bottom: 1px solid grey;
	width: 55%;
}
.bered-footer-data.footer-standard *{
	display: inline-block;
	max-width: 50%;
}
.bered-footer-data.footer-standard label{
	max-width: 20%;
}
/**********************
 END SIGN
**********************/