/*asdf*/
body.bered .map {
    position: relative;
/*     width: 100%; */
    height: 100%;
	background: #0d0d64;
}


.bered .row{
	font-size: 0px;
	text-align: center;
}
.bered .column{
	display: inline-block;
	width: 100%;
	font-size: initial;
	vertical-align: top;
}
.bered .column-2{
	max-width: 50%;
}
.bered .column-3{
	max-width: 33%;
}

#bered-widget{
    position: relative;
    z-index: 99;
}
.modal-content #bered-widget{
/* 	border: 3px so */
}

body.bered .woocommerce-product-gallery{
    width: 58% !important;
}
body.bered .entry-summary{
    width: 38% !important;
}

body.bered .disabled{
	pointer-events: none;
	opacity: .5;
}

#bered-widget *{
/*     border: 3px solid pink; */
/*     padding: 10px; */
/*     min-height: 500px; */
}


#bered-dev-gui{
    position: absolute;
    top: -50px;
    left: -0px;
    width: 800px;
    height: 50px;
    border: 20px solid green;
    background: rgba(0, 255, 255, .3);
}

body.bered .button{
    font-size: 1rem;
    display: inline-block;
    background: white;
    border: 1px solid grey;
    padding: 5px;
    color: black;
    user-select: none;
}
.bered-instructions .button:hover{
    background: lightgrey;
}

#bered-dev-gui .section,
#bered-dev-gui .button{
    margin: 0 5px
}

#bered-dev-gui .section{
    padding: 0 15px;
}


.bered-instructions .nav{
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 0;
}
.bered-instructions .nav.forward{
	right: 5px;
}
.bered-instructions .nav.back{
	right: 50px;
}

.bered-instructions .section{
	display: none;
	border: 3px solid lightgrey;
	position: relative;
	padding: 5px;
}
.bered-instructions .section.selected{
	display: inline-block;
	width: 100%;
}
.bered-instructions .button.rotate{
	margin: 5px;
}

.woocommerce-product-details__short-description .section{
    padding: 10px;
/*     font-weight: bold; */
}

/*make your map*/
body.bered .woocommerce-product-details__short-description .button{
	margin:  20px 0;
	border: 5px solid #3ca04d;
	color: #0a8423;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: .8rem;
}

.woocommerce-product-details__short-description .section:hover{
    background: rgba(0, 0, 0, .1);
}


.bered-instructions .icon{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 10px;
	cursor: pointer;
	user-select: none;
	vertical-align: top;
}
.bered-instructions .icon:hover{
	transform: scale(1.1)
}
.bered-instructions .icon:active{
	transform: scale(.95)
}
.bered-instructions .icon.circle{
	border-radius: 50px;
}

.canvas-container{
	position: absolute !important;
	z-index: 9999;
	top: 0;
	left: 0;
	height: 100% !important;
/* 	border: 10px solid pink; */
	width: 100% !important;

/* 	controlled by js */
	pointer-events: none;
}

.icon-wrap>div{
	margin-bottom: 50px;
}

.bered-map .button.selected{
	background: orange;
}