/*asdf*/
body.bered .map {
    position: relative;
/*     width: 100%; */
    height: 100%;
}


#bered-widget{
    border: 3px solid;
    position: relative;
    z-index: 99;

    /*     min-height: 100px; */
}

body.bered .woocommerce-product-gallery{
    width: 58% !important;
}
body.bered .entry-summary{
    width: 38% !important;
}

#bered-widget *{
/*     border: 3px solid pink; */
/*     padding: 10px; */
/*     min-height: 500px; */
}


#bered-map-gui{
    position: absolute;
    top: -50px;
    left: -0px;
    width: 800px;
    height: 50px;
    border: 2px solid;
    background: rgba(0, 255, 255, .3);
}

#bered-map-gui .section,
#bered-map-gui .button{
    margin: 0 5px
}
#bered-map-gui .section{
    padding: 0 15px;
    display: inline-block;
}


.woocommerce-product-details__short-description .section{
    padding: 10px;
/*     font-weight: bold; */
}

.woocommerce-product-details__short-description .section:hover{
    background: rgba(0, 0, 0, .1);
}