/*asdf*/
body.bered .map {
    position: relative;
/*     width: 100%; */
    height: 100%;
	background: #0d0d64;
}


.bered .row{
	font-size: 0px;
	text-align: center;
}
.bered .column{
	display: inline-block;
	width: 100%;
	font-size: initial;
	vertical-align: top;
}
.bered .column-2{
	max-width: 50%;
}
.bered .column-3{
	max-width: 33%;
}

#bered-widget{
    position: relative;
    z-index: 99;
}
.modal-content #bered-widget{
/* 	border: 3px so */
}

body.bered .woocommerce-product-gallery{
    width: 58% !important;
}
body.bered .entry-summary{
    width: 38% !important;
}

body.bered .disabled{
	pointer-events: none;
	opacity: .5;
}

#bered-widget *{
/*     border: 3px solid pink; */
/*     padding: 10px; */
/*     min-height: 500px; */
}


#bered-map-gui{
    position: absolute;
    top: -50px;
    left: -0px;
    width: 800px;
    height: 50px;
    border: 2px solid;
    background: rgba(0, 255, 255, .3);
}

body.bered .button{
    font-size: 1rem;
    display: inline-block;
    background: white;
    border: 1px solid grey;
    padding: 5px;
    color: black;
    user-select: none;
}
#bered-map-gui .button:hover{
    background: lightgrey;
}

#bered-map-gui .section,
#bered-map-gui .button{
    margin: 0 5px
}
#bered-map-gui .section{
    padding: 0 15px;
}


.bered-instructions .section{
/* 	display: none; */
	border: 3px solid;
}
.bered-instructions .section.selected{
	display: inline-block;
	width: 100%;
	border: 3px solid red;
}

.woocommerce-product-details__short-description .section{
    padding: 10px;
/*     font-weight: bold; */
}

/*make your map*/
body.bered .woocommerce-product-details__short-description .button{
	margin:  20px 0;
	border: 5px solid #3ca04d;
	color: #0a8423;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: .8rem;
}

.woocommerce-product-details__short-description .section:hover{
    background: rgba(0, 0, 0, .1);
}

